website_dir=/home/my_user/my_website
wordpress_local_source=${website_dir}/wordpress/
remote_code_backups_dir=${website_dir}/remote_code_backups

ftp_address=ftpuser@ftp.example.com
remote_httpdocs=${ftp_address}:httpdocs/
remote_statistics=${ftp_address}:statistics/

ftp_password=abc123
ftp_password_prompt=Password:

wordpress_remote_source=${remote_httpdocs}
wordpress_remote_target=${remote_httpdocs}

wordpress_local_uploads=${wordpress_local_source}wp-content/uploads/
wordpress_remote_uploads=${wordpress_remote_source}wp-content/uploads/

bin_dir="$( cd "$( dirname "$0" )" && pwd )"
rsync_script=${bin_dir}/rsync_files
rsync_exclude_file=${bin_dir}/.rsync_exclude

local_backups_dir=${website_dir}/local_db_backups
remote_backups_dir=${website_dir}/remote_db_backups
calendar_backups_dir=${website_dir}/calendar_backups
screenshots_dir=${website_dir}/screenshots

local_wordpress_server=localhost
local_wordpress_user=my_local_user
local_wordpress_password=my_local_password
local_wordpress_db=my_local_db

update_url_script=${bin_dir}/update_local_urls_with_remote.sql

bigdump_script=${bin_dir}/bigdump.php
cutycapt=/home/my_user/cutycapt/CutyCapt/CutyCapt

remote_domain=www.example.com
remote_site_url=http://${remote_domain}
bigdump_url=${remote_site_url}/backups/bigdump.php

admin_user=my_admin_user_name
admin_password=${ftp_password}

local_domain=my_site.localhost
local_url=http://${local_domain}

debug_dir=${website_dir}/debug

logs_dir=${website_dir}/logs
remote_logs_dir=${remote_statistics}logs

local_config_file=${wordpress_local_source}wp-config.php
local_copy_of_remote_config_file=${wordpress_local_source}wp-config-remote.php
remote_config_file=${wordpress_remote_target}wp-config.php

local_root_htaccess=${website_dir}/htaccess/.htaccess
remote_root_htaccess=${remote_httpdocs}.htaccess

local_index=${website_dir}/index/index.php
remote_index=${remote_httpdocs}index.php

local_uploads_dir=${wordpress_local_source}wp-content/uploads/
remote_uploads_dir=${wordpress_remote_target}wp-content/uploads/

plugins_dir=${wordpress_local_source}wp-content/plugins/

